body{
    background-color: beige;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.codigo{
    color: blue;
}

.design{
    color: red;
}

.underline{
    text-decoration: underline;
}